backend/admin_photos_list.json
{
  "nodes": [
    {
      "parameters": {
        "path": "/admin/photos/list",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        -176
      ],
      "id": "f5c6b397-a5dc-4b5d-b398-e747a29ee71e",
      "name": "Admin Photos List Webhook",
      "webhookId": "d6e7f8a9-b0c1-2345-defa-345678901234",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PtNCOdBetyCbSFgu",
          "name": "X-API (Family)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const Redis = require('ioredis');\n\nconst patientId = $input.first().json.query?.patientId || $input.first().json.body?.patientId;\n\nif (!patientId) {\n  return [{ json: { success: false, error: 'patientId required' } }];\n}\n\nconst redis = new Redis({ host: 'redis', port: 6379 });\n\ntry {\n  const photoIds = await redis.lrange(`patient:${patientId}:photos`, 0, -1);\n  const photos = await Promise.all(\n    photoIds.map(async (id, i) => {\n      const p = await redis.hgetall(`photo:${id}`);\n      return { photoId: id, url: p.url, filename: p.filename, uploadedAt: p.uploadedAt, order: i };\n    })\n  );\n  await redis.quit();\n  return [{ json: { photos } }];\n} catch (err) {\n  await redis.quit().catch(() => {});\n  throw err;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -176
      ],
      "id": "ed59de47-f6db-40cc-8ae7-7175f1151358",
      "name": "Admin Photos List"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        480,
        -176
      ],
      "id": "a94668e3-cc40-4199-bde4-c629942fb682",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Admin Photos List Webhook": {
      "main": [
        [
          {
            "node": "Admin Photos List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Photos List": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e90105473505ad8aeb191cbd1736f1626ba188e12bf5ea10c7fe63c08f0bb051"
  }
}
