backend/admin_patients_get.json
{
  "nodes": [
    {
      "parameters": {
        "path": "/admin/patients/get",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "109610f6-b8ff-45c0-890d-5d991badc80a",
      "name": "Admin Patients Get Webhook",
      "webhookId": "b4c5d6e7-f8a9-0123-bcde-234567890123",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PtNCOdBetyCbSFgu",
          "name": "X-API (Family)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const Redis = require('ioredis');\n\nconst patientId = $input.first().json.query?.patientId || $input.first().json.body?.patientId;\n\nif (!patientId) {\n  return [{ json: { success: false, error: 'patientId required' } }];\n}\n\nconst redis = new Redis({ host: 'redis', port: 6379 });\n\ntry {\n  const patient = await redis.hgetall(`patient:${patientId}`);\n  if (!patient || !patient.name) {\n    await redis.quit();\n    return [{ json: { success: false, error: 'Patient not found' } }];\n  }\n\n  const contactIds = await redis.lrange(`patient:${patientId}:contacts`, 0, -1);\n  const contacts = await Promise.all(\n    contactIds.map(async (id, i) => {\n      const c = await redis.hgetall(`contact:${id}`);\n      return { contactId: id, ...c, profilePhotoUrl: c.profilePhotoUrl || null, order: i };\n    })\n  );\n\n  const photoIds = await redis.lrange(`patient:${patientId}:photos`, 0, -1);\n  const photos = await Promise.all(\n    photoIds.map(async (id, i) => {\n      const p = await redis.hgetall(`photo:${id}`);\n      return { photoId: id, url: p.url, filename: p.filename, uploadedAt: p.uploadedAt, order: i };\n    })\n  );\n\n  await redis.quit();\n  return [{ json: { patientId, ...patient, deviceId: patient.deviceId || null, contacts, photos } }];\n} catch (err) {\n  await redis.quit().catch(() => {});\n  throw err;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "26472041-f347-4c77-8d88-6b86cf2d406b",
      "name": "Admin Patients Get"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "9dbe6aec-2328-498f-a52d-3a5cec2e1e91",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Admin Patients Get Webhook": {
      "main": [
        [
          {
            "node": "Admin Patients Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Patients Get": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e90105473505ad8aeb191cbd1736f1626ba188e12bf5ea10c7fe63c08f0bb051"
  }
}
