backend/register_tablet.json
  {
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "/tablet/register",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -32,
          -272
        ],
        "id": "a3af6c3a-22e4-42f9-a90f-3d80d3216783",
        "name": "Tablet Register Webhook",
        "webhookId": "b2c3d4e5-f6a7-8901-bcde-register1234",
        "credentials": {
          "httpHeaderAuth": {
            "id": "PtNCOdBetyCbSFgu",
            "name": "X-API (Family)"
          }
        }
      },
      {
        "parameters": {
        "jsCode": "const Redis = require('ioredis');\n\nconst body = $input.first().json.body ?? {};\nconst { deviceId, patientId } = body;\n\nif (!deviceId || !patientId) {\n  return [{ json: { success: false, error: 'deviceId and patientId are required' } }];\n}\n\nconst redis = new Redis({ host: 'redis', port: 6379 });\n\ntry {\n  const exists = await redis.exists(`patient:${patientId}`);\n  if (!exists) {\n    await redis.quit();\n    return [{ json: { success: false, error: 'Patient not found' } }];\n  }\n\n  await redis.set(`device:${deviceId}`, patientId);\n  await redis.hset(`patient:${patientId}`, 'deviceId', deviceId);\n\n  await redis.quit();\n  return [{ json: { success: true, deviceId, patientId } }];\n} catch (err) {\n  await redis.quit().catch(() => {});\n  throw err;\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          176,
          -272
        ],
        "id": "457ecbe9-9d6c-4dc4-bd00-b6914362464c",
        "name": "Tablet Register"
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          384,
          -272
        ],
        "id": "ea0d7b9c-6831-45eb-a272-7c4c575be250",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Tablet Register Webhook": {
        "main": [
          [
            {
              "node": "Tablet Register",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tablet Register": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "e90105473505ad8aeb191cbd1736f1626ba188e12bf5ea10c7fe63c08f0bb051"
    }
  }
