backend/tablet_sync.json
{
  "nodes": [
    {
      "parameters": {
        "path": "/tablet/sync",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        -128
      ],
      "id": "6a068b92-5777-4b68-b968-7e9bef7e758a",
      "name": "Tablet Sync Webhook",
      "webhookId": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PtNCOdBetyCbSFgu",
          "name": "X-API (Family)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const Redis = require('ioredis');\n\nconst deviceId = $input.first().json.headers['x-device-id'];\nif (!deviceId) {\n  return [{ json: { success: false, error: 'x-device-id header required' } }];\n}\n\nconst redis = new Redis({ host: 'redis', port: 6379 });\n\ntry {\n  const patientId = await redis.get(`device:${deviceId}`);\n  if (!patientId) {\n    await redis.quit();\n    return [{ json: { success: false, error: 'Device not registered' } }];\n  }\n\n  const patient = await redis.hgetall(`patient:${patientId}`);\n  if (!patient || !patient.name) {\n    await redis.quit();\n    return [{ json: { success: false, error: 'Patient not found' } }];\n  }\n\n  const contactIds = await redis.lrange(`patient:${patientId}:contacts`, 0, -1);\n  const contacts = await Promise.all(\n    contactIds.map(async (id, i) => {\n      const c = await redis.hgetall(`contact:${id}`);\n      return { contactId: id, ...c, order: i };\n    })\n  );\n\n  const photoIds = await redis.lrange(`patient:${patientId}:photos`, 0, -1);\n  const photos = await Promise.all(\n    photoIds.map(async (id, i) => {\n      const p = await redis.hgetall(`photo:${id}`);\n      return { photoId: id, url: p.url, order: i };\n    })\n  );\n\n  await redis.quit();\n  return [{ json: { patientId, patientName: patient.name, contacts, photos } }];\n} catch (err) {\n  await redis.quit().catch(() => {});\n  throw err;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -128
      ],
      "id": "028b209e-de7e-43a1-b2fc-d5cbf447e3ef",
      "name": "Tablet Sync"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        192,
        -128
      ],
      "id": "58c64864-6358-4f49-9bde-31a1f622967e",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Tablet Sync Webhook": {
      "main": [
        [
          {
            "node": "Tablet Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tablet Sync": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e90105473505ad8aeb191cbd1736f1626ba188e12bf5ea10c7fe63c08f0bb051"
  }
}
